@keyframes slideUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: translate3d(0, -1.5rem, 0);
  }
  50% {
    transform: translate3d(0, 1.5rem, 0);
  }
  100% {
    transform: translate3d(0, -1.5rem, 0);
  }
}

@keyframes spin-2 {
  from {
    transform: rotate(180deg) translateX(2rem) rotate(180deg);
  }
  to {
    transform: rotate(540deg) translateX(2rem) rotate(540deg);
  }
}

@keyframes spin-8 {
  0% {
    transform: translate3d(0, -1.2rem, 0);
  }
  50% {
    transform: translate3d(0, 1.2rem, 0);
  }
  100% {
    transform: translate3d(0, -1.2rem, 0);
  }
}

@keyframes blur {
  0% {
    filter: blur(5px);
  }
  50% {
    filter: blur(8px);
  }
  100% {
    filter: blur(5px);
  }
}

@keyframes bloom {
  0% {
    transform: scale3d(0.0001, 0.0001, 0.0001);
  }
  50% {
    transform: scale3d(0.0001, 0.0001, 0.0001);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes gradient {
  0% {
    background: var(--c, linear-gradient(0deg, rgba(117, 44, 255, 0.4) -1.02%, rgba(69, 14, 174, 0) 100%));
  }
  10% {
    background: var(--c, linear-gradient(18deg, rgba(117, 44, 255, 0.4) -1.02%, rgba(69, 14, 174, 0) 100%));
  }
  20% {
    background: var(--c, linear-gradient(36deg, rgba(117, 44, 255, 0.4) -1.02%, rgba(69, 14, 174, 0) 100%));
  }
  30% {
    background: var(--c, linear-gradient(54deg, rgba(117, 44, 255, 0.4) -1.02%, rgba(69, 14, 174, 0) 100%));
  }
  40% {
    background: var(--c, linear-gradient(72deg, rgba(117, 44, 255, 0.4) -1.02%, rgba(69, 14, 174, 0) 100%));
  }
  50% {
    background: var(--c, linear-gradient(90deg, rgba(117, 44, 255, 0.4) -1.02%, rgba(69, 14, 174, 0) 100%));
  }
  60% {
    background: var(--c, linear-gradient(108deg, rgba(117, 44, 255, 0.4) -1.02%, rgba(69, 14, 174, 0) 100%));
  }
  70% {
    background: var(--c, linear-gradient(126deg, rgba(117, 44, 255, 0.4) -1.02%, rgba(69, 14, 174, 0) 100%));
  }
  80% {
    background: var(--c, linear-gradient(144deg, rgba(117, 44, 255, 0.4) -1.02%, rgba(69, 14, 174, 0) 100%));
  }
  90% {
    background: var(--c, linear-gradient(162deg, rgba(117, 44, 255, 0.4) -1.02%, rgba(69, 14, 174, 0) 100%));
  }
  100% {
    background: var(--c, linear-gradient(180deg, rgba(117, 44, 255, 0.4) -1.02%, rgba(69, 14, 174, 0) 100%));
  }
}

@keyframes an {
  from {
    opacity: 0;
    transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 0);
  }
  to {
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0);
  }
}

@keyframes leRotateYZoomIn {
  from {
    transform: perspective(600px) translate3d(0, -60px, -2000px) rotateY(75deg);
    opacity: 0
  }
  5% {
    transform: perspective(600px) translate3d(0, -60px, -1500px) rotateY(75deg)
  }
}

@media only screen and (max-width: $large-mobile) {
  @keyframes spin-8 {
    0% {
      transform: translate3d(0, -.5rem, 0);
    }
    50% {
      transform: translate3d(0, .5rem, 0);
    }
    100% {
      transform: translate3d(0, -.5rem, 0);
    }
  }
  @keyframes blur {
    0% {
      filter: blur(2px);
    }
    50% {
      filter: blur(4px);
    }
    100% {
      filter: blur(2px);
    }
  }
}