.offers {
  padding-bottom: 5rem;
  position: relative;

  &__container {
    &_active {
      .offers__card_long, .offers__card_small {
        animation: none;
        opacity: 0;
      }
    }
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding: 18rem 0 18rem 10rem;

    &:last-child {
      margin-bottom: 0;
    }

    &_border {
      background: $white;

    }
  }

  &__texts {
    max-width: 62rem;
    margin-left: auto;
  }

  &__title {
    transform: translateY(100%);
    opacity: 0;

    &.active {
      animation: slideUp .5s both;
    }
  }

  &__text {
    max-width: 52rem;
    margin-top: 4rem;
    transform: translateY(50%);
    opacity: 0;

    &.active {
      animation: slideUp .8s both;
    }
  }

  &__img {
    width: 20.5rem;
    height: 21.5rem;
    margin: 0 auto;
  }

  &__icon {
    width: 8rem;
    height: 8rem;
    position: relative;
  }

  &__body {
    position: relative;
  }

  &__circle {
    position: absolute;
    filter: blur(10px);
    transform: rotate(-34.72deg);
    border-radius: 50%;

    &_purple {
      background: $circle-purple-dark;
      animation: spin-2 3s infinite linear;
      width: 3rem;
      height: 3rem;
    }

    &_pink {
      background: $circle-pink-gradient;
      animation: spin-2 4s infinite linear;
      width: 4.7rem;
      height: 4.7rem;
    }

    &_green {
      width: 5.5rem;
      height: 5.5rem;
      background: $circle-green;
      animation: spin-2 5s infinite linear;
    }

    &-blurred {
      filter: blur(18px);
      height: 6rem;
      width: 7.9rem;
      position: absolute;
      z-index: -1;
      animation: spin-8 4s infinite linear;

      &_blue {
        background: $blue;
        animation: spin-8 2.5s infinite linear;
      }

      &_yellow {
        background: $circle-yellow;
        animation: spin-8 3s infinite linear;
      }

      &_purple {
        background: $circle-purple;
      }

      &_pink {
        background: $circle-pink;
        animation: spin-8 3.5s infinite linear;
      }

      &_blues {
        background: $circle-blues;
        animation: spin-8 4.5s infinite linear;
      }
    }
  }

  &__cards {
    position: relative;
  }

  &__card {
    &_small {
      width: 16.8rem;
      height: 17.0rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 10;
      animation: bloom .8s ease-out;
      transition: all 0.25s ease-in;
    }

    &_big {
      padding: 4.2rem 3.8rem 4rem;
      width: 28.5rem;
      height: 41rem;
    }

    &_long {
      width: 19.8rem;
      height: 7.4rem;
      display: flex;
      align-items: flex-end;
      overflow: hidden;
      position: absolute;
      z-index: 1;
      animation: bloom .8s ease-out;
      transition: all 0.25s ease-in;
    }
  }

  &-knowledge {
    &__circle {
      &_pink {
        top: -2.3rem;
        right: 29rem;
      }

      &_purple {
        left: -6.4rem;
        bottom: 2rem;
      }

      &_green {
        top: 17rem;
        right: -9.3rem;
      }
    }

    &__subtitle {
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2.1rem;
      margin: 3rem 0 3.5rem;
    }

    &__item {
      margin-bottom: 1.3rem;
      font-size: 1.2rem;
      line-height: 1.6rem;
      display: grid;
      grid-template-columns: 1fr minmax(6.8rem, auto);
      align-items: center;
      position: relative;
      z-index: 2;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__text {
      padding-left: 2.2rem;
    }

    &__line {
      border-radius: 99.9rem;
      height: .5rem;
      width: 100%;

      &_purple {
        background: $purple;
        max-width: 11.2rem;
      }

      &_pink {
        background: $blue-gradient;
      }
    }

    &-bitcoin {
      top: -8.7rem;
      right: -7.4rem;

      &__circle {
        &-blurred {
          &_blue {
            left: -.9rem;
            top: .7rem;
          }

          &_yellow {
            top: 2px;
            left: 1px;
          }

          &_purple {
            right: -.9rem;
            top: .7rem;
          }
        }
      }

      &__block {
        border: .5rem solid $white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__icon {
        height: 4.5rem;
        width: 2.9rem;
      }
    }

    &-logo {
      top: 10.9rem;
      left: -9.9rem;

      &__circle {
        &-blurred {
          &_blue {
            left: -.9rem;
            top: -1rem;
          }

          &_pink {
            top: 0;
            left: 1px;
          }

          &_blues {
            border-top: 1rem;
            right: -.7rem;
          }
        }
      }
    }

    &-book {
      bottom: -4.8rem;
      right: -13.3rem;

      &__icon {
        height: 6.6rem;
        width: 7.3rem;
      }

      &__circle {
        &-blurred {
          &_blue {
            left: -1.4rem;
            top: .6rem;
          }

          &_yellow {
            top: 3px;
            left: 4px;
          }

          &_purple {
            right: -1.1rem;
            top: .6rem;
          }
        }
      }
    }
  }

  &-market {
    &__cards {
      width: 28.5rem;
      height: 41rem;
    }

    &__card_big_js {
      position: absolute !important;
      top: -77rem;
    }

    &__circle {
      &_pink {
        top: 2.5rem;
        right: 29rem;
      }

      &_purple {
        left: 2.6rem;
        bottom: -5rem;
      }

      &_green {
        top: 25rem;
        right: -3.5rem;
      }
    }

    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      line-height: 2.1rem;
      margin: 4.1rem 0 3.5rem;
    }

    &__item {
      display: flex;
      align-items: center;

      &:after {
        content: '';
        height: 1.6rem;
        width: 1px;
        background: $pale-blue;
        margin: 0 1rem;
      }

      &:first-child {
        color: $light-blue;
      }

      &:last-child {
        &:after {
          content: none;
        }
      }
    }

    &__card {
      z-index: 1;

      &_big {
        z-index: 2;
        position: relative;
        background: linear-gradient(180deg, rgba(52, 58, 66, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%), rgba(54, 52, 62, 0.6);
      }
    }

    &__subtitle {
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 2.8rem;
      color: $light-blue
    }

    &-telegram {
      top: 4.3rem;
      right: -9.6rem;

      &__icon {
        height: 6rem;
        width: 7rem;
      }

      &__circle {
        &-blurred {
          &_blue {
            top: 0;
            left: -1.4rem;
          }

          &_yellow {
            top: 0.9rem;
            left: 4px;
          }

          &_purple {
            top: 1px;
            left: .6rem;
          }
        }
      }
    }

    &-crystal {
      top: 15.8rem;
      left: -8.5rem;

      &__icon {
        height: 8.6rem;
        width: 5.3rem;
      }

      &__circle {
        &-blurred {
          &_blue {
            top: 1.7rem;
            left: -2.2rem;
          }

          &_yellow {
            top: .7rem;
            left: -1.2rem;
          }

          &_purple {
            top: 1.7rem;
            right: -2.3rem;
          }
        }
      }
    }

    &-graph {
      bottom: -3rem;
      right: -10.1rem;

      &__icon {
        width: 100%;
      }

      &__circle {
        &-blurred {
          &_blue {
            left: 5.4rem;
            top: -.6rem;
          }

          &_pink {
            top: 3px;
            left: 6.4rem;
          }

          &_blues {
            border-top: .6rem;
            left: 7.4rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $medium-tablet) {
  .offers {
    padding-bottom: 8rem;
    padding-top: 10rem;

    &__block {
      margin-bottom: 13.3rem;
      flex-direction: column;
      padding: 0;
      overflow: visible;
    }

    &__cards {
      margin: 0 0 6.5rem 0;
    }

    &__card {
      &_big {
        transform: none !important;
        height: auto;
      }
    }

    &-market {
      &__cards {
        width: auto;
        height: auto;
      }

      &__card {
        &_big {
          &_js {
            position: relative !important;
            top: 0;
          }
        }
      }
    }

    &__texts {
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: $large-mobile) {
  .offers {
    &__text {
      margin-top: 1.4rem;
    }

    &__img {
      width: 12.3rem;
      height: 12.9rem;
    }

    &__icon {
      width: 4.2rem;
      height: 4.2rem;
    }

    &__block {
      margin-bottom: 5rem;
    }

    &__card {
      &_small {
        width: 10.1rem;
        height: 10.2rem;
        border-radius: 1.2rem;

        &:before {
          border-radius: 1.2rem;
        }
      }

      &_big {
        padding: 2.5rem 2.2rem 2.7rem;
        width: 17.1rem;
        border-radius: 1.2rem;

        &:before {
          border-radius: 1.2rem;
        }
      }

      &_long {
        width: 11.9rem;
        height: 4.5rem;
        border-radius: 1.2rem;

        &:before {
          border-radius: 1.2rem;
        }
      }
    }

    &__circle {
      &_purple {
        width: 1.8rem;
        height: 1.8rem;
      }

      &_pink {
        width: 2.8rem;
        height: 2.8rem;
      }

      &_green {
        width: 3.3rem;
        height: 3.3rem;
      }

      &-blurred {
        filter: blur(10px);
        height: 3.6rem;
        width: 4.7rem;
      }
    }

    &-knowledge {
      &__circle {
        &_pink {
          top: -1rem;
          left: -5.5rem;
        }

        &_purple {
          left: -4.8rem;
          bottom: 0.8rem;
        }

        &_green {
          top: 9rem;
          right: -11rem;
        }
      }

      &__subtitle {
        font-size: 1rem;
        line-height: 1.3rem;
        margin: 1.8rem 0 1.7rem;
      }

      &__item {
        margin-bottom: 1.3rem;
        font-size: .7rem;
        line-height: 1.0rem;
        grid-template-columns: 1fr minmax(4.1rem, auto);
      }

      &__text {
        padding-left: 1.3rem;
      }

      &__line {
        border-radius: 60rem;
        height: 3px;

        &_purple {
          max-width: 6.7rem;
        }
      }

      &-bitcoin {
        top: -5.2rem;
        right: -4.5rem;

        &__block {
          border: 4px solid $white;
        }

        &__icon {
          height: 2.7rem;
          width: 1.7rem;
        }
      }

      &-logo {
        top: 6.5rem;
        left: -6rem;
      }

      &-book {
        bottom: -3.1rem;
        right: -8rem;

        &__icon {
          height: 4rem;
          width: 4.4rem;

        }
      }
    }

    &-market {
      &__circle {
        &_pink {
          top: 1rem;
          left: -4.5rem;
        }

        &_purple {
          left: 1.6rem;
          bottom: -2.5rem;
        }

        &_green {
          top: 14rem;
          right: -2.5rem;
        }
      }

      &__list {
        font-size: .8rem;
        line-height: 1.3rem;
        margin: 2.4rem 0 2rem;
      }

      &__item {
        &:after {
          height: .9rem;
          margin: 0 .5rem;
        }
      }

      &__subtitle {
        font-size: 1.4rem;
        line-height: 1.7rem;
      }

      &-telegram {
        top: 2.5rem;
        right: -5.8rem;

        &__icon {
          height: 3.6rem;
          width: 4.2rem;
        }
      }

      &-crystal {
        top: 9.5rem;
        left: -5.1rem;

        &__icon {
          height: 5.2rem;
          width: 3.2rem;
        }
      }

      &-graph {
        bottom: -1.8rem;
        right: -6.1rem;
      }
    }
  }
}