.footer {
  background: #161616;
  padding: 4.4rem 0 4.5rem;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.1rem;
  position: relative;
  z-index: 2;

  @media only screen and (max-width: $large-mobile) {
    padding: 3rem 0;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}